References:<br>
http://www.scipy-lectures.org/packages/statistics/index.html <br>
https://www.analyticsvidhya.com/blog/2015/08/comprehensive-guide-regression/

In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.tools import plotting
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LogisticRegression, LinearRegression, Lasso
from sklearn.svm import SVC

## Regeression Analysis: Intro
Regression analysis is a form of predictive modelling technique which investigates the relationship between a dependent (target) and independent variable (s) (predictor). <br>

This technique is used for forecasting, time series modelling and finding the causal effect relationship between the variables. <br>

<strong> There are multiple benefits of using regression analysis. They are as follows: </strong>

- It indicates the  ***significant relationships*** between dependent variable and independent variable.
- It indicates the ***strength of impact*** of multiple independent variables_ on a dependent variable.

<strong> There are several types of regression models: </strong>
- Linear Regression
- Logistic Regression
- Polynomial Regression
- Stepwise Regression
- Ridge Regression
- Lasso Regression
- ElasticNet Regression

## In this example we are going to work with a simple data set of:
__40 observations of people brain related indicators to predict if it belongs to a Male or Female.__ <br>
Full Scale IQ (combines performance of the VCI, PRI, WMI, and PSI),<br> 
Verbal IQ (verbal comprehension and working memory),<br> 
Performance IQ (perceptual organization and processing speed) <br>
Magnetic Resonance Imagine is used to determine the brain size of individuals.

In [5]:
file_name = 'brain_size.csv'
path = os.getcwd() + '/../Datasets/' + file_name
data = pd.read_csv(path, na_values=".")#, sep=';', na_values=".")
data.head()

   Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0  Female   133  132  124   118.0    64.5     816932
1    Male   140  150  124     NaN    72.5    1001121
2    Male   139  123  150   143.0    73.3    1038437
3    Male   133  129  128   172.0    68.8     965353
4  Female   137  132  134   147.0    65.0     951545

In [6]:
data.Gender = data.Gender.astype('category')
data.Gender = data.Gender.cat.codes
male = data[data.Gender == 1]
female = data[data.Gender == 0]

male = male.fillna(male.mean())
female = female.fillna(female.mean())

data = pd.concat([male, female])
print(data.shape)
data.head()

(40, 7)

   Gender  FSIQ  VIQ  PIQ      Weight  Height  MRI_Count
1       1   140  150  124  166.444444    72.5    1001121
2       1   139  123  150  143.000000    73.3    1038437
3       1   133  129  128  172.000000    68.8     965353
8       1    89   93   84  134.000000    66.3     904858
9       1   133  114  147  172.000000    68.8     955466